@charset "UTF-8";

/* sass */
body { box-sizing: border-box; }

@media all and (min-width: 768px) { .l-inner { padding: 0; } }

@media all and (min-width: 768px) { .l-inner { min-width: 1200px; width: 1200px; margin: 0 auto; } }

.l-inner-full { margin-right: calc(50% - 50vw); margin-left: calc(50% - 50vw); padding-right: calc(50vw - 50%); padding-left: calc(50vw - 50%); max-width: auto; max-width: initial; }

.sp-view { display: block; }

@media all and (min-width: 768px) { .sp-view { display: none; } }

.pc-view { display: none; }

@media all and (min-width: 768px) { .pc-view { display: block; } }

.l-main .wrap-main-visual { background-image: url("/img/img_main_visual.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; height: 1000px; text-align: center; padding-top: 520px; }

.l-main .wrap-main-visual .job-title { font-size: 60px; color: #ffffff; font-weight: bold; }

.l-main .wrap-main-visual .job-title span { border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; padding: 5px 35px; }

.l-main .wrap-main-visual .btn-learn { margin-top: 80px; }

.l-main .wrap-main-visual .btn-learn a { padding: 10px 20px; border: 1px solid #ffffff; font-size: 18px; text-decoration: none; color: #ffffff; }

.l-main .wrap-main-visual .btn-learn a:hover { opacity: 0.8; }

.l-main .wrap-nav { background-color: #252e30; display: flex; justify-content: space-between; align-items: center; padding-top: 10px; padding-bottom: 10px; }

.l-main .wrap-nav .logo { width: 250px; }

.l-main .wrap-nav .logo img { width: 150px; height: auto; }

.l-main .wrap-nav .lst-nav { display: flex; margin-left: -30px; }

.l-main .wrap-nav .lst-nav .item-nav { padding-left: 30px; }

.l-main .wrap-nav .lst-nav .item-nav a { color: #ffffff; text-decoration: none; font-size: 16px; }

.l-main .wrap-nav .lst-nav .item-nav a:hover { cursor: pointer; color: #2ecc71; }

.l-main .wrap-hone { padding: 100px 0; }

.l-main .wrap-hone .lst-home { display: flex; flex-wrap: wrap; margin-left: -30px; }

.l-main .wrap-hone .lst-home .item-home { padding-left: 30px; width: 33.33%; }

.l-main .wrap-hone .lst-home .item-home .txt-title { font-weight: bold; font-size: 30px; color: #566366; }

.l-main .wrap-hone .lst-home .item-home .txt-content { margin-top: 50px; font-size: 18px; color: #919191; line-height: 1.6; }

.l-main .wrap-about-me { min-height: 754px; padding-top: 80px; padding-bottom: 80px; background-image: url("/img/img_about_me.jpg"); background-repeat: no-repeat; background-position: top left; background-color: #f2f2f1; background-size: cover initial; }

.l-main .wrap-about-me .wrap-content { padding-left: 420px; }

.l-main .wrap-about-me .wrap-content .txt-title { font-weight: bold; font-size: 30px; color: #566366; }

.l-main .wrap-about-me .wrap-content .txt-describe { margin-top: 25px; font-size: 18px; color: #919191; line-height: 1.4; }

.l-main .wrap-about-me .wrap-content .lst-about { display: flex; flex-wrap: wrap; margin-top: 35px; }

.l-main .wrap-about-me .wrap-content .lst-about .item-about { margin-top: 40px; width: 50%; position: relative; padding-left: 60px; }

.l-main .wrap-about-me .wrap-content .lst-about .item-about .title-about { font-size: 22px; font-weight: bold; color: #566366; }

.l-main .wrap-about-me .wrap-content .lst-about .item-about .txt-detail { line-height: 1.8; margin-top: 25px; font-size: 18px; color: #919191; }

.l-main .wrap-about-me .wrap-content .lst-about .item-about.web::before { position: absolute; content: ""; top: 0; left: 0; background-repeat: no-repeat; background-size: cover; width: 41px; height: 41px; background-image: url("/img/ico_web_design.png"); }

.l-main .wrap-about-me .wrap-content .lst-about .item-about.graphic::before { position: absolute; content: ""; top: 0; left: 0; background-repeat: no-repeat; background-size: cover; width: 31px; height: 45px; background-image: url("/img/ico_graphic_design.png"); }

.l-main .wrap-about-me .wrap-content .lst-about .item-about.online::before { position: absolute; content: ""; top: 0; left: 0; background-repeat: no-repeat; background-size: cover; width: 36px; height: 36px; background-image: url("/img/ico_online_marketing.png"); }

.l-main .wrap-about-me .wrap-content .lst-about .item-about.seo::before { position: absolute; content: ""; top: 0; left: 0; background-repeat: no-repeat; background-size: cover; width: 37px; height: 36px; background-image: url("/img/ico_seo.png"); }

.l-main .wrap-my-skill .wrap-content { height: 620px; padding: 100px 0; }

.l-main .wrap-my-skill .wrap-content .txt-title { font-weight: bold; font-size: 30px; color: #566366; }

.l-main .wrap-my-skill .wrap-content .block-detail { display: flex; flex-wrap: wrap; }

.l-main .wrap-my-skill .wrap-content .block-detail .wrap-describe { padding-right: 30px; width: 50%; }

.l-main .wrap-my-skill .wrap-content .block-detail .wrap-describe .txt-describe { margin-top: 25px; font-size: 18px; color: #919191; line-height: 1.4; }

.l-main .wrap-my-skill .wrap-content .block-detail .wrap-describe .wrap-btn-contact-me { margin-top: 70px; }

.l-main .wrap-my-skill .wrap-content .block-detail .wrap-describe .wrap-btn-contact-me a { text-decoration: none; font-size: 18px; color: #2ecc71; font-weight: bold; border: 2px solid #2ecc71; padding: 10px 25px; }

.l-main .wrap-my-skill .wrap-content .block-detail .wrap-describe .wrap-btn-contact-me a:hover { cursor: pointer; opacity: 0.8; }

.l-main .wrap-my-skill .wrap-content .block-detail .skill-level { padding-left: 30px; width: 50%; }

.l-main .wrap-my-skill .wrap-content .block-detail .skill-level .lst-skill .item-skill .txt-skill-name { font-size: 22px; color: #566366; font-weight: bold; }

.l-main .wrap-my-skill .wrap-content .block-detail .skill-level .lst-skill .item-skill .skill-bar { margin-top: 15px; font-size: 18px; font-weight: bold; width: 560px; background-color: #f2f2f1; }

.l-main .wrap-my-skill .wrap-content .block-detail .skill-level .lst-skill .item-skill .skill-bar .skill-exp { text-align: right; padding: 7px; color: #ffffff; display: block; background-color: #2ecc71; }

.l-main .wrap-my-skill .wrap-content .block-detail .skill-level .lst-skill .item-skill .skill-bar .skill-exp.cover90 { width: 504px; }

.l-main .wrap-my-skill .wrap-content .block-detail .skill-level .lst-skill .item-skill .skill-bar .skill-exp.cover80 { width: 448px; }

.l-main .wrap-my-skill .wrap-content .block-detail .skill-level .lst-skill .item-skill .skill-bar .skill-exp.cover70 { width: 392px; }

.l-main .wrap-my-skill .wrap-content .block-detail .skill-level .lst-skill .item-skill .skill-bar .skill-exp.cover60 { width: 336px; }

.l-main .wrap-my-skill .wrap-content .block-detail .skill-level .lst-skill .item-skill .skill-bar .skill-exp.cover50 { width: 280px; }

.l-main .wrap-my-skill .wrap-content .block-detail .skill-level .lst-skill .item-skill + li { margin-top: 30px; }
